$main-text-size: 16px;
$main-font-color: #222;
$main-padding: 8px;

$secondary-font-color: #666;

$header-bg-color: #fff;

$footer-bg-color: #fff;

$main-bg-color: #f5f5f5;

$nav-bg-color: #fff;
$nav-font-color: #222;
$nav-font-size: 12px;
$nav-padding: $main-padding;
$nav-border-size: 4px;
$nav-active-bg-color: #aaa;
$nav-hover-bg-color: #f5f5f5;
$nav-icon-size: 16px;
$nav-icon-color: #aaa;

$card-bg-color: #fff;
$card-width: 25%;
$card-padding: 16px;
$card-margin: 16px;
$card-border-radius: 8px;
$card-box-shadow: 1px 1px 5px rgba(#000, .2);
$card-image-height: 150px;
$card-source-padding: 8px;
$card-source-font-color: #222;
$card-source-bg-color: #fff;

$items-list-bg-color: #fff;
$items-list-image-width: 28px;
$items-list-image-height: 28px;
$items-list-image-border-radius: 50%;
$items-list-image-margin: 0 8px 0 0;
$items-list-padding: 16px;
$items-list-source-padding: 8px;
$items-list-source-font-color: #222;
$items-list-source-bg-color: #fff;

$items-list-description-font-color: #666;
$items-list-description-text-size: 13px;

$button-border: 1px solid #222;
$button-font-color: #222;
$button-font-size: 12px;
$button-bg-color: #fff;
$button-padding: 4px 8px;
$button-margin: 4px;
$button-border-radius: 4px;
$button-active-font-color: #fff;
$button-active-bg-color: #222;

$panel-settings-border: 1px solid #ccc;
$panel-settings-bg-color: #f5f5f5;
$panel-settings-padding: 8px;
$panel-settings-text-align: right;

$modal-padding: 16px;
$modal-bg-color: #fff;
$modal-max-width: 600px;
$modal-backdrop-bg-color: rgba(#000, .5);