$header-height: 50px;
$header-padding: 8px;
$header-bg-color: rgb(70, 70, 110);

$footer-height: 0;
$footer-bg-color: #fff;

$main-bg-color: #fff;

$nav-bg-color: rgb(50, 50, 70);
$nav-font-color: #fff;
$nav-font-size: 10px;
$nav-padding: 12px;
$nav-border-size: 4px;
$nav-active-bg-color: #fff;
$nav-hover-bg-color: rgba(#fff, .1);
$nav-icon-size: 16px;
$nav-icon-color: #fff;

$items-list-source-font-color: #fff;
$items-list-source-bg-color: $nav-bg-color;